
mat-card {
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
}

mat-form-field,
mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
}

mat-card-content {
    margin-top: 20px;
}

.login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
}


// personalizzo i bottoni vedere utenti
.custom-button {
    background-color: #4285F4; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 10px 20px; /* Padding per aumentare la dimensione del bottone */
    border-radius: 4px; /* Angoli arrotondati */
    transition: background-color 0.3s; /* Transizione per l'effetto di evidenziazione */
  }
  
  .custom-button:hover {
    background-color: #3367D6; /* Colore di sfondo evidenziato al passaggio del mouse */
  }

  .mat-elevation-z8{
    margin-top: 30px;
  }

  .form-dati {
    background-color: #37b3c9;
    padding: 20px;
    
  }
  
  h2 {
    font-size: 24px;
    color: #4285F4;
    text-shadow: 2px 2px 4px #000000;
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  