<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <h4 class="logo">High<span>Tech</span></h4>

        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <!--<button mat-button (click)="navigaToComponent"><mat-icon>home</mat-icon> Home</button> -->
        <a href="/home" class="btn">home</a>
        <div class="btn2-container">
            <button class="btn2" (click)="logout()">Log out</button>
          </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <div *ngIf="isEmployee && userType">
            <mat-nav-list>
                <button   class="rr" mat-list-item routerLink="/dash/employee">

                    <span class="text-white">Home</span>
                </button>
                <button class="rr" mat-list-item routerLink="/dash/employee/account">
                    <span class="text-white">Account</span>
                </button>           
                <button class="rr" mat-list-item routerLink="/dash/employee/card">
                    <span class="text-white">Card</span>
                </button>
               
                <button class="rr" mat-list-item routerLink="/dash/employee/gift">
                    <span class="text-white">Gift</span>
                </button>
            </mat-nav-list>
        </div>

        <div *ngIf="!isEmployee && userType">
            <mat-nav-list>
                <button class="rr" mat-list-item routerLink="/dash/user">
                    <span class="text-white"> Home</span>
                </button>
                
                <button class="rr" mat-list-item routerLink="/dash/user/card">
                    <span class="text-white" >Card</span>
                </button>
                
                <button class="rr" mat-list-item routerLink="/dash/user/gift">
                    <span class="text-white">Gift</span>
                </button>
            </mat-nav-list>
        </div>


      

    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>