<html>

<head>
	<title>HighTech</title>


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
	<!----PrimaPagina---->

	<div class="hero">
		

		<nav>
			<h2 class="logo">High<span>Tech</span></h2>



			<a routerLink="/sign-user" class="btn">LogIn</a>
		</nav>

		<div class="content">


			<h1>HighTech</h1>
			<h3>negozio Specializzato nel settore Tech.</h3>
		</div>
	</div>

	<!----Noi---->
	<section class="about">
		<div class="main">
			<img src="">
			<div class="about-text">
				<h2>Noi</h2>
				<h5>Qualità <span>& Eleganza</span></h5>
				<p>Benvenuti nel nostro negozio tech, un'oasi per gli appassionati della tecnologia. Qui potrete immergervi in un mondo di innovazione,
					 esplorando una vasta selezione di oggetti tecnologici all'avanguardia. Dalle ultime novità in smartphone e dispositivi smart per la casa,
					  alle potenti soluzioni per il lavoro e l'intrattenimento, siamo qui per offrire prodotti di alta qualità e un servizio attento alle vostre esigenze.
					   Il nostro team di esperti sarà felice di guidarvi attraverso le opzioni disponibili e fornirvi consigli personalizzati. 
					   Venite a visitarci e scoprite il futuro della tecnologia nel nostro negozio tech.
				</p>

			</div>
		</div>
	</section>

	<!-----Servizi----------->
	<div class="service">
		<div class="title">
			<h2>I nostri servizi</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Obbiettivo</h5>
				<div class="pra">
					<p>Il nostro obiettivo è quello di aiutare le persone a esprimere la propria personalità e
						migliorare la loro bellezza naturale attraverso il make-up.
						Siamo costantemente aggiornati sulle
						ultime tendenze e innovazioni nel mondo della cosmetica.
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Personale</h5>
				<div class="pra">
					<p>Il nostro team di esperti è disponibile per fornire consigli personalizzati e
						suggerimenti su come ottenere i migliori risultati con i nostri prodotti.
						Siamo qui per rispondere alle vostre domande e farvi sentire a vostro agio </p>

				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Carta fedeltà</h5>
				<div class="pra">
					<p>La nostra carta fedeltà ti offre vantaggi esclusivi, sconti speciali e promozioni imperdibili.
						Unisciti a noi e vivi un'esperienza unica.

					</p>
				</div>
			</div>
		</div>
	</div>

	<!------Contatti------>
	<div class="contact-me">
		<p>Registrati subito per ottenere sconti e regali!</p>
		<a class="button-two" routerLink="/sign-user">Registrati</a>
	</div>

	<!------footer start--------->
	<footer>
		<p>Seguici</p>
		<p>
			Unisciti alla nostra esclusiva community di appassionati di tecnologia su Instagram e Facebook per scoprire gli ultimi prodotti
			e condividere la passione per il mondo del Tech. Non perderti i nostri consigli, tutorial e offerte speciali! Seguici ora e diventa
			 parte della nostra famiglia tecnologica.
			<br>Contatti : 3295695194, 0737665599
		</p>
		<div class="social">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
		</div>

	</footer>
</body>

</html>