<body>
<div class="login-page">
    <a routerLink="/home" class="btn">HOME</a>
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">Accedi/registrati</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Accedi">
                <mat-card-content>
                    <form [formGroup]="form">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="login-button" (click)="logIn()">
                            Accedi
                        </button>
                        <a href="/sign_up_employees">AMMINISTRATORE</a>

                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Registrazione">
                <mat-card-content>
                    <form [formGroup]="form">
                        <mat-form-field>
                            <input matInput placeholder="nome" formControlName="nome">
                            <mat-icon matSuffix>perm_identity</mat-icon>

                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="cognome" formControlName="cognome">


                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="email" formControlName="email">


                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="password" formControlName="password">


                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder=" repassword" type="password" formControlName="repassword">

                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="login-button" (click)="button()">
                            registrati
                        </button>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
</body>